@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        
    </section>

<div class="content-wrapper">
    <img alt="BookStore" src="~/Images/HomePageImage.jpg" width="960" height="500" />
</div>
}
